<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Suggestion</th>
      <th>Likes</th>
    </tr>
    <tr [class.selected]="suggestion === selectedSuggestion"
        *ngFor="let suggestion of suggestions " >
        {{suggestion.name }}
        <a routerLink="/detail/{{ suggestion.id }}">
          <td>{{suggestion.name}}</td>
        </a>
      <td (click)="like(suggestion)">
        <span>{{suggestion.likes ? suggestion.likes.length : 0}} </span>
        <div  [ngClass]="{'liked': suggestion.liked}" > </div>
      </td>
      <button class="delete" title="delete suggestion"
      (click)="delete(suggestion)">x</button>
    </tr>
  </table>
</div>


<div>
    <label>suggestion name:
      <input #suggestionName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(suggestionName.value); suggestionName.value=''">
      add
    </button>
</div>