<div class="container">
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Suggestion</th>
        <th>Likes</th>
      </tr>
      <tr *ngFor="let suggestion of suggestions ">
        <td>
          <span>{{ suggestion.name }}</span>
        </td>
        <td class="like" (click)="like(suggestion)">
          <span>{{suggestion.likes ? suggestion.likes.length : 0}} </span>
          <div [ngClass]="{'liked': suggestion.liked}"> </div>
        </td>
      </tr>
    </table>
  </div>


  <div class="addSuggestion">
    <input #suggestionName placeholder="Add new suggestion" />
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(suggestionName.value); suggestionName.value=''">
      Add
    </button>
  </div>
</div>