<ng-container *ngIf="user | async; else login">
    <div class="notification is-success">
        Congrats You logged in without a password!
  
        <a routerLink="/suggestions">
          Go to suggestions
        </a>
      </div>
    
      <button (click)="logout()" class="button">Signout</button>
</ng-container>


<ng-template #login>
    <div class="login-form">
      <label for="email" class="label">Passwordless Auth</label><br>
      <input type="email" class="input" [(ngModel)]="email" placeholder="Enter your email">
      <div>
        <button class="button is-primary" [disabled]="emailSent" (click)="sendEmailLink(email)">Get Login Link</button>
      </div>  
      <div *ngIf="emailSent" class="notification is-info">
        Cool! We sent you an email with your login link
      </div>
    
      <div *ngIf="errorMessage" class="notification is-danger">
        {{ errorMessage }}
      </div>
  </div>
  </ng-template>
  